<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/main.css">
  {{--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">  --}}
</head>
<body>
  <div class="app-container">
    <section id="left-menu">
      <div class="account-dropdown">
        <div class="logo">
            <i class="fas fa-fist-raised"></i>
        </div>

        <div class="name">
          Defy
        </div>

        <div class="icon">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div class="groups">
        <div class="group">
          <div class="title">Title</div>
          <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="content-area">
    </section>

    <section id="messenger">
      
    </section>
  </div>
<script src="/js/components/firstComp.js"></script>
<script src="https://kit.fontawesome.com/03a9536c39.js" crossorigin="anonymous"></script>
</body>
</html>
