<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/main.css">
  {{--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">  --}}
</head>
<body>
  <div class="app-container">
    <section id="left-menu">
      <div class="account-dropdown">
        <div class="logo">
            <i class="fas fa-fist-raised"></i>
        </div>

        <div class="name">
          Defy
        </div>

        <div class="icon">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div class="groups">
        <div class="group">
          <div class="title">Favorites</div>
          <ul>
            <li>Angular</li>
            <li>React</li>
            <li>Vue</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="content-container">
      <div class="search-header">
        <div class="search-box">
          <input placeholder="Search.."type="text" name="" value="">
          <div class="icon-section">

            <div class="notify">
              <i class="fas fa-bell"></i>
              <div class="notify-number active">
                9+
              </div>
            </div>

            <div class="comments">
              <i class="fas fa-comment"></i>
              <div class="notify-number active">
                  9+
              </div>
            </div>

            <div class="user">
              <i class="fas fa-user"></i>
              <div class="notify-number active">
                  3
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="content-area">
        
      </div>
    </section>

    <section id="messenger">
      <div class="messenger-header">
        <div class="messenger-icon">
          <i class="fab fa-facebook-messenger"></i>
        </div>

        <div class="title">
          Messenger
        </div>

        <div class="options-icon">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>

      <div class="users">
        <div class="users-container">
          <div class="user">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 2 HARD CODED --}}
          <div class="user active">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation active">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 3 HARD CODED  --}}
          <div class="user">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 4 HARDCODED  --}}
          <div class="user active">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 5 HARDCODED  --}}
          <div class="user">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 6  --}}
          <div class="user">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>
          
          {{--  USER 2 HARD CODED --}}
          <div class="user active">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation active">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 3 HARD CODED  --}}
          <div class="user">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 4 HARDCODED  --}}
          <div class="user active">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 5 HARDCODED  --}}
          <div class="user">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>

          {{--  USER 6  --}}
          <div class="user">
            <div class="user-img" style="background:
            url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            ">

            </div>

            <div class="username">
              John Doe
            </div>
            <div class="conversation">
              <i class="fas fa-comment-dots"></i>
            </div>
          </div>
          

                    {{--  USER 2 HARD CODED --}}
                    <div class="user active">
                      <div class="user-img" style="background:
                      url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
                      height: 30px;
                      width: 30px;
                      background-position: center;
                      background-size: cover;
                      background-repeat: no-repeat;
                      border-radius: 50%;
                      ">
          
                      </div>
          
                      <div class="username">
                        John Doe
                      </div>
                      <div class="conversation active">
                        <i class="fas fa-comment-dots"></i>
                      </div>
                    </div>
          
                    {{--  USER 3 HARD CODED  --}}
                    <div class="user">
                      <div class="user-img" style="background:
                      url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
                      height: 30px;
                      width: 30px;
                      background-position: center;
                      background-size: cover;
                      background-repeat: no-repeat;
                      border-radius: 50%;
                      ">
          
                      </div>
          
                      <div class="username">
                        John Doe
                      </div>
                      <div class="conversation">
                        <i class="fas fa-comment-dots"></i>
                      </div>
                    </div>
          
                    {{--  USER 4 HARDCODED  --}}
                    <div class="user active">
                      <div class="user-img" style="background:
                      url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
                      height: 30px;
                      width: 30px;
                      background-position: center;
                      background-size: cover;
                      background-repeat: no-repeat;
                      border-radius: 50%;
                      ">
          
                      </div>
          
                      <div class="username">
                        John Doe
                      </div>
                      <div class="conversation">
                        <i class="fas fa-comment-dots"></i>
                      </div>
                    </div>
          
                    {{--  USER 5 HARDCODED  --}}
                    <div class="user">
                      <div class="user-img" style="background:
                      url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
                      height: 30px;
                      width: 30px;
                      background-position: center;
                      background-size: cover;
                      background-repeat: no-repeat;
                      border-radius: 50%;
                      ">
          
                      </div>
          
                      <div class="username">
                        John Doe
                      </div>
                      <div class="conversation">
                        <i class="fas fa-comment-dots"></i>
                      </div>
                    </div>
          
                    {{--  USER 6  --}}
                    <div class="user">
                      <div class="user-img" style="background:
                      url('https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg');
                      height: 30px;
                      width: 30px;
                      background-position: center;
                      background-size: cover;
                      background-repeat: no-repeat;
                      border-radius: 50%;
                      ">
          
                      </div>
          
                      <div class="username">
                        John Doe
                      </div>
                      <div class="conversation">
                        <i class="fas fa-comment-dots"></i>
                      </div>
                    </div>
                    
          

        </div>
      </div>

      <div class="search">
        <input type="text" name="" value="" placeholder="Search">
      </div>
    </section>
  </div>
<script src="/js/components/firstComp.js"></script>
<script src="https://kit.fontawesome.com/03a9536c39.js" crossorigin="anonymous"></script>
</body>
</html>
