@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import 'reset';
@import 'variables';

* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Robot', sans-serif;
  min-height: 100vh;
  line-height: 1;
  // background: rgba(132,162,233,1);
  // background: -moz-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(132,162,233,1)), color-stop(100%, rgba(223,254,230,1)));
  // background: -webkit-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  // background: -o-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  // background: -ms-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  // background: linear-gradient(135deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84a2e9', endColorstr='#dffee6', GradientType=1 );

  // background: rgba(207,217,223,1);
  // background: -moz-radial-gradient(center, ellipse cover, rgba(207,217,223,1) 0%, rgba(226,235,240,1) 100%);
  // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(207,217,223,1)), color-stop(100%, rgba(226,235,240,1)));
  // background: -webkit-radial-gradient(center, ellipse cover, rgba(207,217,223,1) 0%, rgba(226,235,240,1) 100%);
  // background: -o-radial-gradient(center, ellipse cover, rgba(207,217,223,1) 0%, rgba(226,235,240,1) 100%);
  // background: -ms-radial-gradient(center, ellipse cover, rgba(207,217,223,1) 0%, rgba(226,235,240,1) 100%);
  // background: radial-gradient(ellipse at center, rgba(207,217,223,1) 0%, rgba(226,235,240,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd9df', endColorstr='#e2ebf0', GradientType=1 );

// background: rgba(2,50,82,1);
// background: -moz-radial-gradient(center, ellipse cover, rgba(2,50,82,1) 0%, rgba(4,20,52,1) 100%);
// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(2,50,82,1)), color-stop(100%, rgba(4,20,52,1)));
// background: -webkit-radial-gradient(center, ellipse cover, rgba(2,50,82,1) 0%, rgba(4,20,52,1) 100%);
// background: -o-radial-gradient(center, ellipse cover, rgba(2,50,82,1) 0%, rgba(4,20,52,1) 100%);
// background: -ms-radial-gradient(center, ellipse cover, rgba(2,50,82,1) 0%, rgba(4,20,52,1) 100%);
// background: radial-gradient(ellipse at center, rgba(2,50,82,1) 0%, rgba(4,20,52,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023252', endColorstr='#041434', GradientType=1 );

background: rgba(212,228,239,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

.app-container {
  width: 100%;
  max-width: 1400px;
  background: #fff;
  min-height:  calc(100vh - 15vh);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 15% 65% 20%;

  #left-menu {
    border-right: 2px solid #e6e9ef;
    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 15px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        .fas {
          font-size: 2rem;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-chevron-down {
          font-size: .8rem;
        }
      }
    }
  }
  .groups {
    padding: 15px;
    .group {
      .title {
        padding: 10px 0;
        font-size: .8rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      ul {
        li {
          color: #818387;
          font-size: 0.8rem;
          padding: 10px 0;
        }
      }
    }
  }

  #content-container {
    overflow: hidden;
    .search-header {
      padding: 10px;
      position: relative;
      -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
      -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
      box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
      .search-box {
        width: 600px;
        margin: 0 auto;

        input[type="text"] {
          background: #F3F3F3;
          border:none;
          border-radius: 3px;
          font-size: 1.2rem;
          width:100%;
          padding: 5px 15px;
        }
      }
      .icon-section {
        position: absolute;
        top: 15px;
        right: 0;
        font-size: 1.2rem;
        padding-right: 15px;
        & > div {
          display: inline-block;
          color: #797979;
          padding: 0 5px;
          position: relative;
        }


          .notify-number {
            display: none;
            position: absolute;
            background: $red;
            color: white;
            font-size: .6rem;
            top: -7px;
            right: -7px;
            padding: 2px 5px;
            border: 3px solid white;
            border-radius: 5px;

            &.active {
              display: block;
            }
          }

      }
    }

    .compose-section {
      width: 600px;
      margin: 0 auto;
      padding: 35px 0;
      position: relative;

      textarea {
        width: 100%;
        height: 75px;
        background: $textfield;
        border: none;
        border-radius: 4px;
        padding: 15px 30px;
        font-size: 1.2rem;

      }

      .user-img {
        background: url('https://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg');
        height: 40px;
        width: 40px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        top: 20px;
        left: -15px;

      }

      .buttons {
        position: absolute;
        right: 15px;
        bottom: 20px;
        display: flex;

        .button {
          background: #fff;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 15px;
          border-radius: 50%;
          // display: inline-block;
          font-size: 1rem;
          -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
          -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
          box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
          color: $htext;
          &.send-btn {
            color: white;
            background: rgba(50,173,255,1);
            background: -moz-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,173,255,1)), color-stop(100%, rgba(1,120,255,1)));
            background: -webkit-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: -o-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            background: linear-gradient(to bottom, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32adff', endColorstr='#0178ff', GradientType=0 );
          }
          .fa-paper-plane {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  #messenger {
    background: $darksideBlue;

  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

.home {
  height: 100%;
  width: 100%;
  text-align: center;
  .Aligner {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .menu ul li {
    padding: 10px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .version-num {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 7px 15px;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0 20px;
  }
  a {
    text-decoration: none;
    color: #30395c;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #43d4d6;
  }
}

