<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/main.css">
  {{--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">  --}}
</head>
<body>
  <div class="app-container
    welcome-page
  " style="background: url('http://www.sneakerhdwallpapers.com/wallpapers/2019/sb-x-jordan-1-la-to-chicago-wallpaper-preview.jpg');
  background-size: cover;
  background-position:center center; background-repeat:none;
  ">
  <div class="home-container">

    <h1>Welcome to ___</h1>
    <h3>The Best Site</h3>
    <div class="login-buttons">
      <div class="button google-btn">
        Google
      </div>
      <div class="button facebook-btn">
        Facebook
      </div>
      <hr>
      <div class="button email-btn">
        Email
      </div>
    </div>
  </div>
  </div>
<script src="/js/components/firstComp.js"></script>
<script src="https://kit.fontawesome.com/03a9536c39.js" crossorigin="anonymous"></script>
</body>
</html>