<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/main.css">
  {{--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">  --}}
</head>
<body>
  <div class="app-container
    welcome-page
  ">
    <h1>Welcome!</h1>
    <h3>to!</h3>
  </div>
<script src="/js/components/firstComp.js"></script>
<script src="https://kit.fontawesome.com/03a9536c39.js" crossorigin="anonymous"></script>
</body>
</html>