<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="/css/main.css">
  {{--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">  --}}
</head>
<body>
  <div class="app-container
    welcome-page
  " style="background: url('https://i.pinimg.com/originals/30/73/cf/3073cfe05d66c6cb9b56ad0b8b27cdf3.png');
  background-size: cover;
  background-position:center center; background-repeat:none;
  ">
  <div class="home-container">

    <h1>Welcome!</h1>
    <h3>to!</h3>
  </div>
  </div>
<script src="/js/components/firstComp.js"></script>
<script src="https://kit.fontawesome.com/03a9536c39.js" crossorigin="anonymous"></script>
</body>
</html>